.register-container {
  display: flex;
  justify-content: center;
  padding: 110px 20px;
  background-color: #f1f5f9;
  }
  
  .register-form {
    background-color: #ffffff;
    border: 1px solid #dbeafe;
    padding: 20px 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 80, 255, 0.05);
    width: 100%;
    max-width: 450px;
  }
  
  .register-form h2 {
    text-align: center;
    font-size: 2rem;
    color: #1d4ed8;
    margin-bottom: 1.5rem;
  }
  
  .register-form label {
    display: block;
    margin-bottom: 5px;
    color: #374151;
    font-weight: 500;
  }
  
  .register-form input {
    color: #1f2937;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cbd5e1;
    border-radius: 5px;
    background-color: #f9fafb;
  }
  
  .register-form input:focus {
    outline: none;
    border-color: #60a5fa;
    background-color: #ffffff;
  }
  
  .register-form button {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .register-form button:hover {
    background-color: #2563eb;
  }
  
  .error {
    color: #dc2626;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  .icon-registration::before {
    content: "🚪"; 
    margin-right: 10px;
    font-size: 1.1em;
  }